/* IMPORT */
@import 'reset.css';
@import 'menu.css';

/* GENERAL */
body {
	font-family: 'Roboto', sans-serif;
}
body > section {
	margin-bottom: 100px;
}

body > section:nth-child(n+3) h2 {
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold; /*medium*/
}
body > section:nth-child(n+3) h2::after {
	content: '';
	display: block;
	width: 400px;
	position: relative;
	left: 50%;
	top: 5px;
	transform: translate(-50%);
	background-color: black;
	height: 2px;
}

/* HERO */
#hero {
	margin-top: 60px;
	background-image: url('../img/background-hero.png');
	background-attachment: fixed;
	background-size: cover;
	height: calc(100vh - 60px);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

#hero h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 10px;
}
#hero h2 {
	font-size: 1.2em;
	margin-top: 25px;
}
#hero h2.description {
	margin-bottom: 60px;
}
#hero .arrow-scrolldown {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
}
#hero .arrow-scrolldown img {
	width: 40px;
}

/* ABOUT */
#about .content {
	display: flex;
	margin: 0 13%;
	margin-top: 40px;
}
#about .content-left {
	border: 1px solid #DDD;
	border-radius: 10px;
	width: 300px;
	height: 300px;
}
#about .content-left img {
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
#about .content-right {
	margin-left: 30px;
}
#about .content-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about .about-links {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
#about .about-links > div {
	background-color: #A43831;
}
#about .about-links > div a {
	display: flex;
	align-items: center;
	height: 40px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold; /*medium*/
	padding: 0 10px;
}
#about .about-links > div a img {
	margin-right: 10px;
}
#about .about-links > div:first-child {
	margin-right: 20px;
}

/* CAREER */
#career {
	margin-bottom: 70px;
}
#career .content {
	margin-top: 40px;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	position: relative;
}
#career .arrow {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	max-height: 100%;
}
#career .content section {
	max-width: calc(50% - 100px);
	box-sizing: border-box;
	padding: 15px;
	margin: 10px 50px;
	float: left;
	clear: both;
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid #DDD;
}
#career .dot {
	width: 15px;
	height: 15px;
	background-color: #DDD;
	border-radius: 10px;
	position: absolute;
	top: 35%;
}
#career .job {
	left: 50%;
}
#career .school {
	text-align: right;
	left: calc(50% - 100px);
	transform: translate(-100%);
}
#career .job .dot {
	left: calc(-16px - 50px);
	transform: translate(50%);
}
#career .school .dot {
	right: calc(-16px - 50px);
	transform: translate(-50%);
}

#career .date {
	font-weight: bold; /*medium*/
	font-size: 20px;
	margin-bottom: 20px;
}
#career .name {
	font-size: 20px;
	margin-bottom: 5px;
}
#career .location {
	font-size: 16px;
	margin-bottom: 20px;
}
#career .description {
	font-weight: light;
	font-size: 14px;
}

/* SKILLS */
#skills {
	background-color: #1A1E23;
	padding-top: 30px;
	padding-bottom: 50px;
	color: white;
}
#skills h2::after {
	background-color: white;
}
#skills .content {
	margin: 0 30px;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#skills .content section {
	width: 300px;
	margin: 30px;
}
#skills .text {
	display: flex;
	justify-content: space-between;
}
#skills .indicator {
	width: 100%;
	height: 20px;
	border-radius: 5px;
	background-color: #DDD;	
}
#skills .indicator div {
	height: 20px;
	border-radius: 4px;
	background-color: #A43831;
}

/* PROJECTS */
#projects .content {
	margin: 0 30px;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#projects .content section {
	width: 300px;
	height: 300px;
	border: 1px solid #DDD;
	box-sizing: border-box;
	margin-bottom: 20px;
}
#projects header {
	height: 40px;
	font-size: 24px;
	font-weight: bold; /*medium*/
	background-color: #A43831;
	color: white;
	justify-content: center;
	display: flex;
	align-items: center;
}
#projects .img img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}
#projects footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	height: 60px;
	box-sizing: border-box;
	border-top: 1px solid #DDD;
}

/* CONTACT */
#contact .content {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 18px;
	margin-top: 40px;
}
#contact .send-msg {
	margin-left: 10%;
	width: 50%;
}
#contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contact form > div {
	display: flex;
	flex-direction: column;
}
#contact form > div label {
	font-weight: bold; /*medium*/
	margin-bottom: 5px;
}
#contact form input {
	height: 45px;
}
#contact form textarea {
	height: 200px;
}
#contact .contact-field {
	width: 500px;
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	border-radius: 3px;
	box-shadow: none;
	margin-bottom: 15px;
}
#contact .contact-submit {
	color: white;
	background-color: #CA574E;
	font-weight: bold; /*medium*/
	text-transform: uppercase;
	height: 40px;
	padding: 0 20px;
	border: 1px solid #DDD;
	cursor: pointer;
}
#contact .contact-submit:hover {
	background-color: #A43831;
}
#contact .contact-info {
	width: 40%;
}
#contact .contact-info article {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
#contact .contact-info article img {
	width: 40px;
	height: 40px;
}
#contact .contact-info article p {
	margin-left: 10px;
}

/* FOOTER */
body > footer {
	background-color: #1A1E23;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}

/* RESPONSIVE */
@media (max-width: 1050px) {
	#about .content {
		flex-direction: column;
		align-items: center;
	}
	#about .content-right {
		margin-top: 20px;
		margin-left: 0;
	}
	#about .about-links {
		justify-content: center;
	}
	#contact .content {
		flex-direction: column-reverse;
	}
	#contact .contact-info article {
		width: 250px;
	}
	#contact .contact-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#contact .send-msg {
		margin-left: 0;
		width: 100%;
	}
}
@media (max-width: 850px) {
	#career .content section {
		max-width: calc(100% - 100px);
	}
	#career .job {
		left: 0;
	}
	#career .school {
		text-align: left;
		left: 0;
		transform: none;
	}
	#career .job .dot, #career .school .dot {
		left: calc(-16px - 25px);
		transform: translate(50%);
	}
	#career .arrow {
		left: 25px;
	}
}
@media (max-width: 640px) {
	#about .about-links {
		flex-direction: column;
		align-items: center;
	}
	#about .about-links > div:first-child {
		margin-bottom: 15px;
	}
	#contact form > div {
		width: 90%;
	}
	#contact .contact-field {
		width: 100%;
	}
}
@media (max-width: 450px) {
	#about .content {
		margin-left: 5%;
		margin-right: 5%;
	}
	#about .content-left {
		width: 200px;
		height: 200px;
	}
	#career .content section {
		margin-right: 20px;
		max-width: 100%;
	}
}